<!doctype html>
<html lang="ru-RU" ng-app="demo">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/lib/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="/static/lib/angular.js"></script>
    <script type="text/javascript" src="/static/lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/lib/md5-min.js"></script>
	<script type="text/javascript" src="/static/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="/static/lib/angular-resource.min.js"></script>
	<script src="/static/js/vk.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap.css"/>
	
</head>
<body>
	<div class="panel-body">

		<div class="panel panel-default">
			<div class="panel-body">
			<!--	<input type='button' class="btn btn-sm" value='Войти' onclick="location.href='https://oauth.vk.com/authorize?client_id=4565164&scope=friends&redirect_uri=https://192.168.0.130:8080/vklogin.html&response_type=token'"> -->
            <input type='button' class="btn btn-sm" value='Войти' ui-sref='enter'>
			</div>
		</div>



		<div class="panel panel-default">
			<div class="panel-body">
				<input id='linkUser' class="input-sm" style='width:300px' value='30053727'>
				<input type='button' class="btn btn-sm" value='Получить альбомы' ui-sref='album'>

			</div>
		</div>
	
        <div ui-view>

        </div>
	</div>
</body>
</html>