<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div class="panel panel-default">
        <div class="panel-body">

            <table>
                <tr>
                    <td>Имя</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>Возраст   </td>
                    <td>{{user.age}}</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>